{% extends 'base.html' %}
{% load static %}

{% block style %}
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/book_ticket.css' %}">
{% endblock %}

{% block content %}
    <div id="back">
        <a href="{% url 'home' %}"><img src="{% static 'img/back.png' %}" alt="back"></a>
    </div>
    <div class="day my-5">
        <h4>Выбирайте места</h4>
        <h5>{{ screening.start_time|date:'l' }}</h5>
        <h5>Начало: {{ screening.start_time.time }}</h5>
    </div>
    <div class="center my-5">
        <img src="{% static 'img/line.png' %}" alt="Экран">
    </div>
    <div class="center">
        <h5>Передние ряды</h5>
    </div>
    <div class="center">
        <form method="post">
            {% csrf_token %}
            <table>
                {% for row in seat_rows %}
                    <tr>
                        {% for seat in row %}
                            <td class="pt-1">
                                {% if seat.id in booked_seats %}
                                    <!-- Display the busy icon if the seat is already booked -->
                                    <div class="seat mx-0"><img src="{% static 'img/busy.png' %}" alt=""></div>
                                {% elif seat %}
                                    <!-- Display the seat icon and dropdown for selecting ticket type -->
                                    <div class="seat mx-0">
                                        <img src="{% static 'img/seat.png' %}" id="seat-{{ seat.id }}" data-row="{{ seat.row }}" data-column="{{ seat.column }}" alt="">
                                        <div id="dropdown-{{ seat.id }}" class="dropdown d-none custom-select-dropdown" style="position: absolute; z-index: 1;">
                                            <ul id="ticket_type-{{ seat.id }}" class="custom-select-options">
                                                <li class="custom-select-option" data-value="AD">Взрослый</li>
                                                <li class="custom-select-option" data-value="CH">Детский</li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <div class="backseat center mt-3">
                <h5>Задние ряды</h5>
            </div>
            <div class="center mt-3">
                <ul class="status">
                    <li><img src="{% static 'img/gray_ellipse.png' %}" alt="gray ellipse">Свободно</li>
                    <li><img src="{% static 'img/red_ellipse.png' %}" alt="red ellipse">Занято</li>
                    <li><img src="{% static 'img/green_ellipse.png' %}" alt="green ellipse">Выбрано</li>
                </ul>
            </div>
            <div class="center">
                <ul class="types">
                    <li><img src="{% static 'img/kid.png' %}" alt="kid">Детский: 600 тг</li>
                    <li><img src="{% static 'img/adult.png' %}" alt="adult">Взрослый: 1000 тг</li>
                </ul>
            </div>
            <div class="center" id="book">
                <div id="sticky-footer">
                    <div id="selected-seats-label">
                        <img id="selected-seats-icon" src="{% static 'img/ticket.png' %}" alt="Selected seats icon" style="display: none;">
                        <span id="selected-seats-text"></span>
                    </div>
                    <div id="selected-seats"></div>

                    <input id="submit-button" type="image" value="Book Tickets" class="hidden" src="{% static 'img/book.png' %}">
                </div>
            </div>
            <div class="form-group" id="name-field">
                <input type="text" class="form-control" id="name" name="name" placeholder="Имя клиента" required>
            </div>

            <div class="form-group" id="phone-field">
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Номер телефона" required>
            </div>

            <button type="button" id="modal-opener" class="btn btn-primary hidden" data-toggle="modal" data-target="#confirmModal">
              Open Confirm Modal
            </button>

            <!-- The Modal -->
            <div class="modal fade" id="confirmModal">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h6 class="modal-title">Уважаемые гости,</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Хотелось бы напомнить вам о важной информации относительно процесса бронирования билетов на фильмы. Если вы не оплатите за билеты за 30 минут до начала сеанса, ваша бронь будет автоматически снята.
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                    <button type="button" id="confirm-button" class="btn btn-success">ОК</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- The Success Modal -->
            <div class="modal fade" id="successModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h6 class="modal-title">Успешное бронирование</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Ваши места были успешно забронированы.
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" id="success-ok-button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="center" id="footer">
        <p>Наш контактный телефон: +7-705-556-56-06</p>
    </div>
{% endblock %}

{% block script %}
<script>
    let isFirstClick = true;
    $(document).ready(function() {
        let selectedSeats = {};

        const addSeat = function(seatRow, seatColumn) {
            // Initialize the array for the row if it does not exist yet
            if (!(seatRow in selectedSeats)) {
                selectedSeats[seatRow] = [];
            }

            // Add the seat column to the row if it is not there yet
            if (!selectedSeats[seatRow].includes(seatColumn)) {
                selectedSeats[seatRow].push(seatColumn);
            }

            // Create the display string
            let displayStr = '';
            for (let row in selectedSeats) {
                if (selectedSeats.hasOwnProperty(row)) {
                    displayStr += 'Ряд: ' + row + ', Место ' + selectedSeats[row].join(', ') + '<br/>';
                }
            }

            $('#selected-seats').html(displayStr);

            if (Object.keys(selectedSeats).length > 0) {
                $('#selected-seats-icon').show();
                $('#selected-seats-text').text('Выбранные места:');
            } else {
                $('#selected-seats-text').text('');
                $('#selected-seats-icon').hide();
            }
        }

        const removeSeat = function(seatRow, seatColumn) {
            // Do nothing if the row does not exist or if the seat is not in the row
            if (!(seatRow in selectedSeats) || !selectedSeats[seatRow].includes(seatColumn)) {
                return;
            }

            // Remove the seat column from the row
            let index = selectedSeats[seatRow].indexOf(seatColumn);
            selectedSeats[seatRow].splice(index, 1);

            // If the row is now empty, remove it
            if (selectedSeats[seatRow].length === 0) {
                delete selectedSeats[seatRow];
            }

            // Create the display string
            let displayStr = '';
            for (let row in selectedSeats) {
                if (selectedSeats.hasOwnProperty(row)) {
                    displayStr += 'Ряд: ' + row + ', Место ' + selectedSeats[row].join(', ') + '<br/>';
                }
            }

            $('#selected-seats').html(displayStr);

            if (Object.keys(selectedSeats).length > 0) {
                $('#selected-seats-icon').show();
                $('#selected-seats-text').text('Выбранные места:');
            } else {
                $('#selected-seats-text').text('');
                $('#selected-seats-icon').hide();
            }
        }

        $('img').click(function() {
            // Get the seat ID from the clicked image's ID attribute
            let seatId = $(this).attr('id').split('-')[1];
            let dropdownId = '#dropdown-' + seatId;
            let imgId = '#seat-' + seatId;

            let seatRow = $(imgId).data('row');
            let seatColumn = $(imgId).data('column');

            // If the seat is already chosen, deselect it
            if ($(imgId).attr('src') === '{% static "img/selected_seat.png" %}') {
                $(imgId).attr('src', '{% static "img/seat.png" %}');
                $(`#ticket_type-${seatId}`).val([]); // Clear selected ticket types

                // Check if any seat is selected
                let selectedSeats = $('img[src="{% static "img/selected_seat.png" %}"]');
                if (selectedSeats.length > 0) {
                    // Show the submit button, name and phone fields
                    $('#submit-button').removeClass('hidden');
                    $('#name-field').show();
                    $('#phone-field').show();
                    $('#sticky-footer').css('background', 'linear-gradient(315deg, #c457cc, #431d8e)');
                } else {
                    // Hide the submit button, name and phone fields
                    $('#submit-button').addClass('hidden');
                    $('#name-field').hide();
                    $('#phone-field').hide();
                    $('#sticky-footer').css('background', 'transparent');
                }

                // Remove the seat from the selected seats list
                removeSeat(seatRow, seatColumn);

                return;
            }

            // Hide previously opened dropdown if any
            if (window.openDropdownId && window.openDropdownId !== dropdownId) {
                $(window.openDropdownId).addClass('d-none');
            }

            // Toggle the visibility of the corresponding dropdown
            $(dropdownId).toggleClass('d-none');

            // Clear the dropdown selection
            $(`#ticket_type-${seatId}`).prop('selectedIndex', -1);

            // Track the opened dropdown
            window.openDropdownId = $(dropdownId).hasClass('d-none') ? null : dropdownId;
        });

        // Handle click event on the dropdown options
        $(document).on('click', '.custom-select-option', function() {
            let dropdownId = '#' + $(this).parent().parent().attr('id');
            let seatId = dropdownId.split('-')[1];
            let imgId = '#seat-' + seatId;

            // Close the dropdown
            $(dropdownId).addClass('d-none');
            window.openDropdownId = null; // reset the tracked open dropdown

            // Change the seat image
            $(imgId).attr('src', '{% static "img/selected_seat.png" %}');

            // Store the selected option on the ul
            $(`#ticket_type-${seatId}`).data('selected', $(this).data('value'));

            // Check if any seat is selected
            let selectedSeats = $('img[src="{% static "img/selected_seat.png" %}"]');
            if (selectedSeats.length > 0) {
                // Show the submit button, name and phone fields
                $('#submit-button').removeClass('hidden');
                $('#name-field').show();
                $('#phone-field').show();
                $('#sticky-footer').css('background', 'linear-gradient(315deg, #c457cc, #431d8e)');
            } else {
                // Hide the submit button, name and phone fields
                $('#submit-button').addClass('hidden');
                $('#name-field').hide();
                $('#phone-field').hide();
                $('#sticky-footer').css('background', 'transparent');
            }

            let seatRow = $(imgId).data('row');
            let seatColumn = $(imgId).data('column');

            // Add the seat to the selected seats list
            addSeat(seatRow, seatColumn);
        });

        // Handle click event outside the dropdown to hide it
        document.addEventListener('click', function handleClickOutsideSelect(event) {
            let dropdown = $(window.openDropdownId)[0];

            // If there is no open dropdown, or if the clicked element was the linked image, don't hide the dropdown
            if (!dropdown || event.target.id === 'seat-' + window.openDropdownId.split('-')[1]) {
                return;
            }

            // Hide the dropdown if the click was outside it
            if (!dropdown.contains(event.target)) {
                dropdown.classList.add('d-none');
                window.openDropdownId = null; // reset the tracked open dropdown
            }
        });

        // Handle form submission
        $('form').submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Show the modal
            $('#modal-opener').click();
        });

        // Handle confirmation
        $('#confirm-button').click(function() {
            // Prepare the data to be submitted
            let data = $('form').serializeArray();

            // Iterate over each chosen seat
            $('img[src="{% static "img/selected_seat.png" %}"]').each(function() {
                let seatId = $(this).attr('id').split('-')[1];
                let selectedOptions = $(`#ticket_type-${seatId}`).data('selected');

                // Ensure selectedOptions is an array
                if (!Array.isArray(selectedOptions)) {
                    selectedOptions = [selectedOptions];
                }

                // Add the seat and its chosen ticket types to the data
                data.push({name: 'seat' + seatId, value: selectedOptions.join(',')});
            });

            // Submit the data
            $.post($('form').attr('action'), data).done(function() {
                // Hide the confirmation modal
                $('#confirmModal').modal('hide');

                // Show the success modal
                $('#successModal').modal('show');
            });
        });

        // Handle OK button click in the success modal
        $('#success-ok-button').click(function() {
            // Redirect to the main page
            window.location.href = '/';
        });
    });
</script>
{% endblock %}