{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="banner" style="background-image: url({{ movie.poster.url }})"></div>
    <h2 class="title">{{ movie.title }}</h2>
    <p id="description">{{ movie.description }}</p>
    <h3 id="datetime">Выберите дату и время</h3>
    <div id="reserve">
        {% for day, screenings in grouped_screenings.items %}
            <div class="screening">
                <div class="day">
                    <h5>{{ day }}</h5>
                </div>
                {% for screening in screenings %}
                    <div class="times" data-id="{{ screening.id }}" onclick="bookTicket(event)">
                        <p>{{ screening.start_time|time }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <a id="bookLink" href="#">
        <div id="book" style="visibility: hidden;">
            <p>Забронировать</p>
        </div>
    </a>
{% endblock %}
